<div class="container">
	<div class="row">
		<div clas="col-md-4 col-md-offset-4">
			<h1>Configuración<h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to "Listado de tipos de Couch", couch_types_path, class: 'btn btn-success btn-sm' %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to "Agregar un tipo de Couch", new_couch_type_path, class: 'btn btn-success btn-sm' %>
		</div>
	</div>
</div>