<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado resetear su contrase침a. Lo podes hacer accediendo al link de abajo.</p>

<p><%= link_to 'Cambiar mi contrase{a', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no lo has solicitado, por favor ignor치 este email.</p>
<p>Tu contrase침a no cambiar치 hasta que accedas al link dado y crees una nueva.</p>
